    <h1>To Do List Project</h1>
    <div class="field">
        <form [formGroup]= "newListForm" class="ui form fluid">
            <input formControlName="listItem" class="ui input" input="text">
            <div class="ui pointing label">
                Please Type In What Needs to be Done:
              </div>
        </form>
        <br>
        <div>
            {{newListForm.value | json}}
        </div>
        <div>
            Is Valid? {{newListForm.valid}}
        </div>
        <div>
            Valiation Errors: {{newListForm.get('listItem')?.errors | json}}
        </div>
    </div>
