    <h1>To Do List Project</h1>
    <div class="field">
        <form [formGroup]= "newListForm" class="ui form fluid">
            <input formControlName="listItem" class="ui input" input="text">
        </form>
        <ng-container *ngIf="
            newListForm.get('listItem')?.touched &&
            newListForm.get('listItem')?.dirty ">
            <div *ngIf="newListForm.get('listItem')?.errors?.['required']">
                List Item Required.
            </div>
            <div *ngIf="newListForm.get('listItem')?.errors?.['minlength']">
                Entered Item is only {{newListForm.get('listItem')?.errors?.['minlength'].actualLength}}.
                Minimum minimum Length is required is  {{newListForm.get('listItem')?.errors?.['minlength'].requiredLength}}
            </div>
        </ng-container>
        <br>
    </div>
